* {
	font-family: monospace;
	font-size  : 16px;
	font-weight: normal;
	margin     : 0;
	padding    : 0;
	border     : none;
	box-sizing : border-box;
}

body {
	overflow        : hidden;
	position        : relative;
	display         : flex;
	flex-direction  : column;
	width           : 100vw;
	height          : 100vh;
	background-color: #33A852;
	color           : #2b2b2b;
}

header {
	flex-shrink : 0;
	border      : darkolivegreen solid;
	border-width: 0 0 1px 0;

	> h1 {
		font-size: 1.5rem;
		margin   : 1rem 0 0 1rem;
		padding  : 0.5rem;
	}

	> div {
		margin: 0.5rem 0 1rem 2rem;

		> span:hover {
			text-decoration: underline;
		}

		> p {
			padding-top: 0.5rem;
		}
	}

	> article {
		position   : fixed;
		top        : 5px;
		left       : calc(100% - 1rem);
		transform  : translate(-100%, 0);
		white-space: nowrap;
	}
}

main {
	flex-grow            : 1;
	display              : grid;
	grid-template-columns: 1fr 1fr;
	gap                  : 0.5rem;
	padding              : 0.5rem;

	> section {
		overflow        : scroll;
		display         : flex;
		flex-direction  : column;
		border          : 1px darkolivegreen solid;
		border-radius   : 5px;
		background-color: white;

		> textarea {
			flex-grow: 1;
			padding  : 0.5rem;
			resize   : none;
		}

		> div {
			flex-shrink: 0;
			padding    : 0.5rem;
		}
	}
}

#code {
	background-color: #F8FBFF;
}

#formula {
	background-color: rgba(10,40,10,.6);
	color           : #fafafa;
	word-break      : break-all;
}

#param {
	display: flex;
	align-items: center;
	background-color: #F8FBFF;
;
	> label {
		margin-right: 15px;
		cursor      : pointer;

		> input {
			margin-right: 5px;
		}

		> span.inactive {
			color: gray;
		}

		> span:hover {
			text-decoration: underline;
		}
	}

	> div {
		flex-grow: 1;
	}

	> span {
		color : #FFA0A0;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	> button {
		margin-left  : 0.5rem;
		border       : 1px gray solid;
		border-radius: 5px;
		cursor       : pointer;
	}
}